.nav-tabs2 {
	display:none !important;
}

#dropdownSubMenu2 {
	left:auto !important;
	right: 10px !important; 
}

#footer{
	margin-top: 15px !important;
}

#footer .col-4 img{
	width: 100px;
}

header {
	margin-bottom: 15px !important;
}

header .logoGovern img {
	width: 160px;
}

header nav.fixed-top{
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.custom-submenu {
	display: none !important;
}


.main {
	padding-top: 25px !important;
	padding-bottom: 25px;
}

.custom-submenu { 
	margin: 0 60px 0 !important; 
}

.bg-aplicacio{
	background-color: #ffffff !important;
}

.logoEntitat {
	float: left;
	padding: 0 1rem;
}

.btn { margin-left:10px; }
#GroupDiv { font-size:90%; }
#FilterDiv { font-size:90%; }
#filterDiv .page-header .btn { padding: 1px 5px; }
#filterDiv .page-header .input-prepend, #filterDiv .page-header .input-group { margin-right: 10px; }
.badge { margin-right: 5px; }

@media only screen and (max-width : 767px) {
	.dropdown-menu {
		margin-top: -3px;
	}
}

@media only screen and (min-width : 401px) and (max-width : 480px) {
	.logoEntitat {
		margin-right: 10px !important;
		margin-left: 10px !important;
	}
}

@media only screen and (min-width : 200px) and (max-width : 400px) {
	.logoEntitat {
		margin-right: 5px !important;
		margin-left: 5px !important;
	}
}

/* Nou disseny */
#FilterDiv {
	padding: 0.5rem !important;
	margin-bottom: 1.25rem !important;
	min-width: 41rem;
	background-image: linear-gradient(45deg, #999 25%, transparent 25%, transparent 50%, #999
		50%, #999 75%, transparent 75%, #fff);
	background-size: 3px 3px;
}

#page-header {
	padding-top: 0.5rem;
}

.btn-filtre {
	margin-left: 3px;
	padding: 0.25rem 0.75rem;
}

.filtre-div {
	min-width: 28rem;
	max-width: 45rem;
	margin: 0.5rem 2rem 0.5rem 0.5rem;
	width: 40% !important;
}

.group-item {
	width: 48%;
}

.form-control {
	padding: 0.25rem 0.75rem !important;
}

.form-group {
	margin-left: 0rem;
}

#btn-clean {
	background: #FDFFFC;
	border-color: #888888;
}

#btn-reset {
	background: #FF9523;
	border-color: #FF9523;
}

/* #btn-submit {
	background: #246EB9;
	border-color: #246EB9;
	color: #FDFFFC;
}
 */
.search-query {
	width: 100% !important;
}

.modal-xl {
width: 80%;
max-width: 80%;
}

.btn-success-contrast {
	color: #ffffff !important;
	background-color: #146c43 !important;
	border-color: #146c43 !important;
}

.btn-success-contrast:hover,
.btn-success-contrast:focus,
.btn-success-contrast.focus {
	color: #ffffff !important;
	background-color: #0f5132 !important;
	border-color: #0f5132 !important;
}

.btn-success-contrast:not(:disabled):not(.disabled):active,
.btn-success-contrast:not(:disabled):not(.disabled).active,
.show > .btn-success-contrast.dropdown-toggle {
	color: #ffffff !important;
	background-color: #0b3d26 !important;
	border-color: #0b3d26 !important;
}

.btn-success-contrast:focus,
.btn-success-contrast.focus,
.btn-success-contrast:not(:disabled):not(.disabled):active:focus,
.btn-success-contrast:not(:disabled):not(.disabled).active:focus,
.show > .btn-success-contrast.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(20, 108, 67, 0.45);
}

.btn-primary-contrast {
	color: #ffffff !important;
	background-color: #00356e !important;
	border-color: #00356e !important;
}

.btn-primary-contrast.disabled,
.btn-primary-contrast:disabled {
	color: #ffffff !important;
	background-color: #4D5459 !important;
	border-color: #4D5459 !important;
	opacity: 1 !important;
	filter: none !important;
}

.btn-primary-contrast:hover,
.btn-primary-contrast:focus,
.btn-primary-contrast.focus {
	color: #ffffff !important;
	background-color: #00356e !important;
	border-color: #00356e !important;
}

.btn-primary-contrast:not(:disabled):not(.disabled):active,
.btn-primary-contrast:not(:disabled):not(.disabled).active,
.show > .btn-primary-contrast.dropdown-toggle {
	color: #ffffff !important;
	background-color: #00356e !important;
	border-color: #00356e !important;
}

.btn-primary-contrast:focus,
.btn-primary-contrast.focus,
.btn-primary-contrast:not(:disabled):not(.disabled):active:focus,
.btn-primary-contrast:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary-contrast.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 86, 179, 0.45);
}

.page-link-contrast {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #00356e;
	background-color: #fff;
	border: 1px solid #dee2e6;
}

.page-link-contrast:hover {
	z-index: 2;
	color: #00356e;
	text-decoration: none;
	background-color: #e9ecef;
	border-color: #dee2e6;
}

.page-link-contrast:focus {
	z-index: 3;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 53, 110, 0.25);
}

.page-item-contrast:first-child .page-link-contrast {
	margin-left: 0;
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.page-item-contrast:last-child .page-link-contrast {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.page-item-contrast.active .page-link-contrast {
	z-index: 3;
	color: #fff;
	background-color: #00356e;
	border-color: #00356e;
}

.page-item-contrast.disabled .page-link-contrast {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: #fff;
	border-color: #dee2e6;
}

.pagination-lg .page-link-contrast {
	padding: 0.75rem 1.5rem;
	font-size: 1.25rem;
	line-height: 1.5;
}

.pagination-lg .page-item-contrast:first-child .page-link-contrast {
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item-contrast:last-child .page-link-contrast {
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link-contrast {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
}

.pagination-sm .page-item-contrast:first-child .page-link-contrast {
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item-contrast:last-child .page-link-contrast {
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
}


.btn-secondary-contrast {
  color: #fff;
  background-color: #4D5459;
  border-color: #4D5459;
}

.btn-secondary-contrast:hover {
  color: #fff;
  background-color: #4D5459;
  border-color: #4D5459;
}

.btn-secondary-contrast:focus, .btn-secondary-contrast.focus {
  color: #fff;
  background-color: #4D5459;
  border-color: #4D5459;
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-secondary-contrast.disabled, .btn-secondary-contrast:disabled {
  color: #fff;
  background-color: #4D5459;
  border-color: #4D5459;
}

.btn-secondary-contrast:not(:disabled):not(.disabled):active, .btn-secondary-contrast:not(:disabled):not(.disabled).active,
.show > .btn-secondary-contrast.dropdown-toggle {
  color: #fff;
  background-color: #4D5459;
  border-color: #4D5459;
}

.btn-secondary-contrast:not(:disabled):not(.disabled):active:focus, .btn-secondary-contrast:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary-contrast.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
